<h3>Tableau Project<h3>

I chose to do a quick analysis and data cleanse in python before using the data in Tableau. The reason for this choice was to easily deal with Null values, and allow for a deeper understanding of the data prior to using Tableau for visualizations

In [4]:
import pandas as pd

In [3]:
df = pd.read_csv('Data/airbnb.csv')
df.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,2008-06-26,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,2008-06-26,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [46]:
#check the columns
df.columns

#noticed extra whitespace on Neighbourhood column so I removed it
df['Neighbourhood'] = df['Neighbourhood '].str.strip()

In [54]:
#check the data types
df.dtypes

Host Id                         int64
Host Since                     object
Name                           object
Neighbourhood                  object
Property Type                  object
Review Scores Rating (bin)    float64
Room Type                      object
Zipcode                       float64
Beds                          float64
Number of Records               int64
Number Of Reviews               int64
Price                          object
Review Scores Rating          float64
Neighbourhood                  object
dtype: object

<h5>Clean the Data<h5>

In [34]:
df.describe()

,Host Id,Review Scores Rating (bin),Zipcode,Beds,Number of Records,Number Of Reviews,Review Scores Rating
count,3.047800e+04,22664.000000,30344.000000,30393.000000,30478.0,30478.000000,22664.000000
mean,1.273171e+07,90.738659,10584.854831,1.530089,1.0,12.018735,91.993230
std,1.190270e+07,8.957205,921.299397,1.015359,0.0,21.980703,8.750421
min,5.000000e+02,20.000000,1003.000000,0.000000,1.0,0.000000,20.000000
25%,2.701298e+06,85.000000,10017.000000,1.000000,1.0,0.000000,89.000000
50%,8.551693e+06,90.000000,10065.000000,1.000000,1.0,3.000000,93.000000
75%,2.120617e+07,95.000000,11216.000000,2.000000,1.0,13.000000,99.000000
max,4.303307e+07,100.000000,99135.000000,16.000000,1.0,257.000000,100.000000

In [36]:
NaN_count = df[df['Number Of Reviews'] > 0].isna().sum()

#use imputation to put the Mean review score in 'Number of Reviews' and 'Number of Reviews' where there is > 0 reviews
mean_review_bin = df[df['Number Of Reviews'] > 0]['Review Scores Rating (bin)'].mean()
mean_review = df[df['Number Of Reviews'] > 0]['Review Scores Rating'].mean()

#impute the data into the NaN columns
df.loc[df['Number Of Reviews'] > 0, 'Review Scores Rating'] = df.loc[df['Number Of Reviews'] > 0, 'Review Scores Rating'].fillna(mean_review)
df.loc[df['Number Of Reviews'] > 0, 'Review Scores Rating (bin)'] = df.loc[df['Number Of Reviews'] > 0, 'Review Scores Rating (bin)'].fillna(mean_review_bin)

In [37]:
#recheck the count
print(NaN_count)

Host Id                         0
Host Since                      2
Name                            0
Neighbourhood                   0
Property Type                   2
Review Scores Rating (bin)      0
Room Type                       0
Zipcode                       104
Beds                           46
Number of Records               0
Number Of Reviews               0
Price                           0
Review Scores Rating            0
dtype: int64

Clean the Zipcode data by adding the correct zipcode if its missing

In [51]:
#check the number of neighbourhoods
df['Neighbourhood'].value_counts()

Neighbourhood
Manhattan        16033
Brooklyn         11675
Queens            2278
Bronx              345
Staten Island      147
Name: count, dtype: int64

In [65]:
#check the data for manhattan neighbourhood places with no zipcode
df.loc[(df['Neighbourhood'] == 'Manhattan') & (df['Zipcode'].isna())]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating,Neighbourhood
133,13654,2009-04-16,Room with a view in Central Harlem,Manhattan,Apartment,85.000000,Private room,NaN,1.0,1,11,75,85.00000,Manhattan
234,30990,2009-08-11,Stay in the Meatpacking District!,Manhattan,Apartment,95.000000,Entire home/apt,NaN,1.0,1,109,249,95.00000,Manhattan
368,52677,2009-11-09,Columbus Avenue Apartment,Manhattan,Apartment,NaN,Private room,NaN,1.0,1,0,190,NaN,Manhattan
426,58366,2009-11-29,"Lincoln Center luxury condo,",Manhattan,Apartment,90.000000,Entire home/apt,NaN,1.0,1,37,280,93.00000,Manhattan
464,60944,2009-12-07,Alcove Studio West Village DrmnBldg,Manhattan,Apartment,NaN,Entire home/apt,NaN,1.0,1,0,198,NaN,Manhattan
705,101172,2010-03-30,1 BR loft 5 min walk to Time Sq,Manhattan,Apartment,85.000000,Entire home/apt,NaN,3.0,1,140,150,89.00000,Manhattan
706,101172,2010-03-30,1BR w/terrace 5 min walk to Time Sq,Manhattan,Apartment,85.000000,Entire home/apt,NaN,3.0,1,78,150,86.00000,Manhattan
707,101172,2010-03-30,Luxury 1BR 5 min walk to Time Sq,Manhattan,Apartment,85.000000,Entire home/apt,NaN,3.0,1,200,150,86.00000,Manhattan
708,101172,2010-03-30,Modern 1 BR 5 min walk to Time Sq,Manhattan,Apartment,85.000000,Entire home/apt,NaN,3.0,1,79,150,89.00000,Manhattan
709,101172,2010-03-30,Unique Loft 5 min walk to Time Sq,Manhattan,Apartment,80.000000,Entire home/apt,NaN,3.0,1,35,150,84.00000,Manhattan
1629,283395,2010-11-10,Hip Loft Style Apt. IDEAL Location!,Manhattan,Apartment,100.000000,Entire home/apt,NaN,2.0,1,1,350,100.00000,Manhattan
1633,283395,2010-11-10,Double BEDRM in Loft Ideal Location,Manhattan,Apartment,85.000000,Private room,NaN,1.0,1,36,125,86.00000,Manhattan
1707,299015,2010-11-25,1-BR Apt in the Heart of Manhattan,Manhattan,Apartment,90.000000,Entire home/apt,NaN,1.0,1,9,180,91.00000,Manhattan
1731,304081,2010-11-29,"Great Studio, Great Location",Manhattan,Apartment,95.000000,Entire home/apt,NaN,1.0,1,26,160,95.00000,Manhattan
2087,390251,2011-02-13,MI CASA ES TU CASA,Manhattan,Apartment,80.000000,Entire home/apt,NaN,2.0,1,4,139,80.00000,Manhattan
2672,593927,2011-05-16,Modern apartment / Perfect Location,Manhattan,Apartment,NaN,Entire home/apt,NaN,1.0,1,0,600,NaN,Manhattan
3058,732985,2011-06-22,Perfect Pied a Terre in Meatpacking,Manhattan,Apartment,95.000000,Entire home/apt,NaN,1.0,1,9,225,97.00000,Manhattan
4619,1394049,2011-11-10,PRIVATE BATH & ROOM,Manhattan,Apartment,85.000000,Private room,NaN,2.0,1,113,85,89.00000,Manhattan
4620,1394049,2011-11-10,PRIVATE ROOM & BATH,Manhattan,Apartment,90.000000,Private room,NaN,2.0,1,108,99,90.00000,Manhattan
4815,1439416,2011-11-24,STUNNING 2 BDRM - TIMES SQUARE,Manhattan,Apartment,90.000000,Entire home/apt,NaN,5.0,1,56,450,91.00000,Manhattan
5607,1708418,2012-02-06,Sunny 1BR loft TIME SQUARE,Manhattan,Apartment,90.000000,Entire home/apt,NaN,1.0,1,6,170,90.00000,Manhattan
6954,2358573,2012-05-13,"Light, spacious and central!",Manhattan,Apartment,95.000000,Entire home/apt,NaN,2.0,1,12,260,98.00000,Manhattan
8089,2966244,2012-07-17,Comfortable 1br in West Village,Manhattan,Apartment,90.000000,Entire home/apt,NaN,1.0,1,2,200,90.00000,Manhattan
8362,3126013,2012-08-01,"Amazing, spacious, modern home!",Manhattan,Apartment,85.000000,Entire home/apt,NaN,1.0,1,33,199,87.00000,Manhattan
8616,3264033,2012-08-15,4Bedrooms / Roof Deck / Center NYC,Manhattan,Apartment,90.000000,Entire home/apt,NaN,5.0,1,57,500,94.00000,Manhattan
9230,3637246,2012-09-21,Large Private Room by Central Park,Manhattan,Apartment,85.000000,Private room,NaN,1.0,1,9,89,87.00000,Manhattan
9490,3818092,2012-10-09,Gorgeous NYC Interior Designer Apt,Manhattan,Apartment,90.000000,Entire home/apt,NaN,3.0,1,4,800,90.00000,Manhattan
10326,4251217,2012-11-26,"Huge, Sunny, Top Floor, Comfy home!",Manhattan,Apartment,90.000000,Entire home/apt,NaN,2.0,1,8,285,91.00000,Manhattan
10584,4349699,2012-12-07,Georgeos/cozy 1 bed apt in Chelsea,Manhattan,Apartment,95.000000,Entire home/apt,NaN,1.0,1,9,180,96.00000,Manhattan
10618,4363133,2012-12-09,★ Large Prime Cozy E Village Apt ★,Manhattan,Apartment,95.000000,Entire home/apt,NaN,2.0,1,70,215,95.00000,Manhattan
10688,4385409,2012-12-12,Watch Game of Thrones in theater,Manhattan,Apartment,90.738659,Entire home/apt,NaN,1.0,1,1,204,91.99323,Manhattan
11720,5166070,2013-02-20,3bed 2 bath Duplex ! No walk up,Manhattan,Apartment,100.000000,Entire home/apt,NaN,5.0,1,2,723,100.00000,Manhattan
11978,5360659,2013-03-07,"Gorgeous Space, Industrial NYC Apt",Manhattan,Apartment,85.000000,Entire home/apt,NaN,5.0,1,72,239,85.00000,Manhattan
12017,5386585,2013-03-09,Massive Apartment in West Village,Manhattan,Apartment,90.000000,Entire home/apt,NaN,4.0,1,26,600,93.00000,Manhattan
12316,5667385,2013-03-28,2 BR Modern Apt near Central Park,Manhattan,Apartment,95.000000,Entire home/apt,NaN,2.0,1,15,200,99.00000,Manhattan
12332,5664550,2013-03-28,Private Room w TV in East Village,Manhattan,Apartment,90.000000,Private room,NaN,1.0,1,19,95,90.00000,Manhattan
12430,5744776,2013-04-03,STRIKE WHEN THE IRON IS HOT!!,Manhattan,Apartment,NaN,Private room,NaN,1.0,1,0,75,NaN,Manhattan
12576,5910738,2013-04-13,Spacious 1BR in great Harlem area,Manhattan,Apartment,90.000000,Entire home/apt,NaN,1.0,1,14,140,92.00000,Manhattan
12939,6223363,2013-05-04,2 bedroom near Columbia University,Manhattan,Apartment,NaN,Entire home/apt,NaN,3.0,1,0,150,NaN,Manhattan
15336,8700888,2013-09-08,Manhattan NY Central Park Cosy 1B,Manhattan,Apartment,100.000000,Entire home/apt,NaN,1.0,1,2,140,100.00000,Manhattan
15901,9351405,2013-10-10,SUPER CLEAN 2 BED CRASH PAD IN NYC!,Manhattan,Apartment,85.000000,Entire home/apt,NaN,3.0,1,8,100,89.00000,Manhattan
15902,9351405,2013-10-10,Sweet Broadway Apt! Superduper Deal,Manhattan,Apartment,75.000000,Entire home/apt,NaN,3.0,1,5,100,76.00000,Manhattan
16102,9586465,2013-10-23,3 beds with loft near Central Park,Manhattan,Apartment,65.000000,Entire home/apt,NaN,4.0,1,8,199,65.00000,Manhattan
17088,10583579,2013-12-12,Shared two bedroom in Gramercy Park,Manhattan,Apartment,NaN,Entire home/apt,NaN,1.0,1,0,200,NaN,Manhattan
17168,10661984,2013-12-16,"CLEAN, QUIET COMFORT in CHELSEA !!!",Manhattan,Apartment,100.000000,Entire home/apt,NaN,1.0,1,4,200,100.00000,Manhattan
18106,11947308,2014-02-04,Cozy Bedroom in Lower East Side,Manhattan,Apartment,85.000000,Private room,NaN,1.0,1,63,70,89.00000,Manhattan
18361,12351216,2014-02-18,Huge space and MILLION DOLLAR VIEWS,Manhattan,Apartment,95.000000,Private room,NaN,1.0,1,29,144,96.00000,Manhattan
20624,16978260,2014-06-19,BEAUTIFUL SPACIOUS STUDIO,Manhattan,Bed & Breakfast,NaN,Shared room,NaN,1.0,1,0,70,NaN,Manhattan
21269,18061086,2014-07-13,Huge Bedroom - East Village - NYC,Manhattan,Apartment,100.000000,Private room,NaN,1.0,1,7,125,100.00000,Manhattan
22990,21508969,2014-09-19,Manhattan Lifestyle Upper East Side,Manhattan,Apartment,80.000000,Entire home/apt,NaN,1.0,1,6,200,80.00000,Manhattan
23266,22051787,2014-10-02,★VINTAGE HOUSE ★ CENTRAL PARK★,Manhattan,Apartment,90.738659,Entire home/apt,NaN,1.0,1,1,195,91.99323,Manhattan
23830,23076444,2014-10-28,Cozy 1BD East Village/Downtown.,Manhattan,Apartment,100.000000,Private room,NaN,1.0,1,1,190,100.00000,Manhattan
25349,25517905,2015-01-02,Beautiful Central Park View,Manhattan,Apartment,85.000000,Private room,NaN,1.0,1,12,99,87.00000,Manhattan
26360,28839935,2015-03-05,Gorgeous and Huge UWS Apartment,Manhattan,Apartment,NaN,Entire home/apt,NaN,2.0,1,0,250,NaN,Manhattan
27492,32793658,2015-05-06,Le jardin Harlem,Manhattan,Apartment,NaN,Private room,NaN,1.0,1,0,175,NaN,Manhattan
27568,33064599,2015-05-10,HUGE PRETTY bedroom (female only),Manhattan,Apartment,100.000000,Private room,NaN,1.0,1,2,99,100.00000,Manhattan
29947,40585961,2015-08-05,Large Lower East Side 1 BDR,Manhattan,Apartment,NaN,Private room,NaN,1.0,1,0,85,NaN,Manhattan

In [67]:
df.loc[(df['Neighbourhood'] == 'Brooklyn') & (df['Zipcode'].isna())]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating,Neighbourhood
333,47716,2009-10-22,$45 L train/ 1 bedroom Brooklyn,Brooklyn,Apartment,85.000000,Private room,NaN,2.0,1,56,49,85.00000,Brooklyn
583,72808,2010-01-23,Coney island Entire Apt Safari Wi F,Brooklyn,Apartment,90.000000,Entire home/apt,NaN,2.0,1,83,105,90.00000,Brooklyn
1422,250633,2010-10-01,Historic Ditmas Park Brooklyn,Brooklyn,Apartment,100.000000,Private room,NaN,1.0,1,3,65,100.00000,Brooklyn
1930,335272,2011-01-04,Summer Green Quiet Room Park Slope,Brooklyn,House,95.000000,Private room,NaN,1.0,1,99,96,96.00000,Brooklyn
2085,389924,2011-02-13,Gorgeous French Garden cottage-N 8t,Brooklyn,Apartment,90.000000,Entire home/apt,NaN,1.0,1,38,189,92.00000,Brooklyn
2643,580566,2011-05-11,"Big bright room, great neighborhood",Brooklyn,Apartment,85.000000,Private room,NaN,1.0,1,7,60,89.00000,Brooklyn
3120,751530,2011-06-27,Room in three-Bedroom Apartment,Brooklyn,Apartment,NaN,Entire home/apt,NaN,1.0,1,0,10,NaN,Brooklyn
4013,1179779,2011-09-19,Private loft with 2 beds /bathroom,Brooklyn,Apartment,90.000000,Entire home/apt,NaN,2.0,1,43,123,92.00000,Brooklyn
4479,1349430,2011-10-29,Huge beautiful 1 bedroom loft,Brooklyn,Apartment,90.000000,Entire home/apt,NaN,2.0,1,58,140,93.00000,Brooklyn
5028,1494118,2011-12-11,Peaceful Townhouse Duplex,Brooklyn,House,100.000000,Entire home/apt,NaN,2.0,1,2,350,100.00000,Brooklyn
5848,1826769,2012-02-28,Cozy apt in heart of Williamsburg!,Brooklyn,Apartment,95.000000,Entire home/apt,NaN,1.0,1,63,220,98.00000,Brooklyn
5884,1834658,2012-02-29,HUGE ROOM IN THE BEST AREA!!!,Brooklyn,Apartment,NaN,Private room,NaN,2.0,1,0,135,NaN,Brooklyn
6398,2093542,2012-04-08,Beautiful room in Williamsburg,Brooklyn,Apartment,NaN,Private room,NaN,1.0,1,0,95,NaN,Brooklyn
6696,2260108,2012-04-30,Charming sunny studio - Boerum Hill,Brooklyn,Apartment,100.000000,Entire home/apt,NaN,1.0,1,1,120,100.00000,Brooklyn
6924,2347313,2012-05-11,City Skyline Views by Bedford Ave,Brooklyn,Apartment,95.000000,Entire home/apt,NaN,2.0,1,17,175,99.00000,Brooklyn
7207,2496464,2012-05-29,Unique NYDesigner apt min from all!,Brooklyn,House,90.000000,Entire home/apt,NaN,2.0,1,27,160,93.00000,Brooklyn
7490,2648940,2012-06-15,Crown Heights retreat near 2 train!,Brooklyn,Apartment,NaN,Private room,NaN,1.0,1,0,100,NaN,Brooklyn
7791,2781725,2012-06-29,COSY AND SPACIOUS ROOM IN BROOKLYN,Brooklyn,Apartment,90.000000,Private room,NaN,1.0,1,10,52,94.00000,Brooklyn
8568,3249777,2012-08-13,Stunning Light/Roof - Williamsburg,Brooklyn,Apartment,NaN,Private room,NaN,1.0,1,0,100,NaN,Brooklyn
8805,3370169,2012-08-25,One Bedroom with your own bathroom,Brooklyn,Apartment,100.000000,Private room,NaN,1.0,1,13,70,100.00000,Brooklyn
9183,3608781,2012-09-18,Inspiring spacious loft space,Brooklyn,Loft,95.000000,Private room,NaN,1.0,1,39,111,95.00000,Brooklyn
9221,3633850,2012-09-21,Spacious Brooklyn NYC Rental,Brooklyn,House,100.000000,Entire home/apt,NaN,5.0,1,2,300,100.00000,Brooklyn
9595,3880573,2012-10-15,"""The Country"" & the NYC Waterfront!",Brooklyn,Apartment,90.000000,Entire home/apt,NaN,3.0,1,124,160,91.00000,Brooklyn
10238,4201022,2012-11-20,Large Studio Apt on Prospect Park,Brooklyn,Apartment,95.000000,Entire home/apt,NaN,1.0,1,33,140,99.00000,Brooklyn
12105,5480570,2013-03-15,Charming Apt. In Brooklyn Townhouse,Brooklyn,Apartment,95.000000,Entire home/apt,NaN,2.0,1,92,79,96.00000,Brooklyn
12630,5954669,2013-04-16,Sun Drenched 1Brm Duplex 2balconies,Brooklyn,Apartment,90.738659,Entire home/apt,NaN,1.0,1,1,150,91.99323,Brooklyn
13985,7130382,2013-06-26,NYC - CLINTON HILL - FURNISHED ROOM,Brooklyn,Apartment,100.000000,Private room,NaN,NaN,1,1,70,100.00000,Brooklyn
14354,7529823,2013-07-16,Private room. Modern Apartment,Brooklyn,Apartment,95.000000,Private room,NaN,1.0,1,97,60,97.00000,Brooklyn
14361,7550143,2013-07-17,Large Williamsburg Loft Apartment,Brooklyn,Apartment,95.000000,Entire home/apt,NaN,3.0,1,44,220,97.00000,Brooklyn
14812,8055051,2013-08-09,Private Rooms in a Basement Apt,Brooklyn,Apartment,90.000000,Entire home/apt,NaN,1.0,1,37,50,90.00000,Brooklyn
15824,9269415,2013-10-06,Modern apartment Квартира у океана,Brooklyn,Apartment,100.000000,Entire home/apt,NaN,2.0,1,1,99,100.00000,Brooklyn
15999,9478849,2013-10-17,Cosy 2br 20 min from the city,Brooklyn,Apartment,80.000000,Entire home/apt,NaN,3.0,1,1,145,80.00000,Brooklyn
16116,9614926,2013-10-24,Rockaway Castles Private 3 bedroom!,Brooklyn,Apartment,NaN,Entire home/apt,NaN,3.0,1,0,250,NaN,Brooklyn
16243,9773998,2013-11-02,"East River Queen, & outdoor deck!",Brooklyn,House,90.000000,Entire home/apt,NaN,2.0,1,77,175,93.00000,Brooklyn
17635,11237450,2014-01-12,Modern 1-BR,Brooklyn,Apartment,95.000000,Entire home/apt,NaN,1.0,1,12,121,98.00000,Brooklyn
18373,12405344,2014-02-19,European artist's cozy place,Brooklyn,Apartment,100.000000,Private room,NaN,1.0,1,1,83,100.00000,Brooklyn
18817,13451045,2014-03-23,Pull-out Sofa in Our Living Room,Brooklyn,Apartment,NaN,Private room,NaN,1.0,1,0,35,NaN,Brooklyn
19226,14314025,2014-04-15,Room in beautiful brownstone,Brooklyn,Apartment,NaN,Private room,NaN,1.0,1,0,48,NaN,Brooklyn
19507,14892152,2014-04-29,Quiet*Spacious*Private Bath*Sunny!,Brooklyn,Apartment,100.000000,Private room,NaN,1.0,1,3,125,100.00000,Brooklyn
20016,15891365,2014-05-23,Deck View in Heart of Williamsburg,Brooklyn,Apartment,80.000000,Private room,NaN,1.0,1,49,95,83.00000,Brooklyn
20270,16437254,2014-06-05,Fort Greene Sanctuary,Brooklyn,Apartment,100.000000,Entire home/apt,NaN,2.0,1,1,179,100.00000,Brooklyn
22685,21020951,2014-09-06,Spacious room for one or two guest.,Brooklyn,Apartment,90.000000,Private room,NaN,1.0,1,10,65,94.00000,Brooklyn
23978,23309210,2014-11-03,"Beautiful & Cozy room, Worry free!!",Brooklyn,House,90.000000,Private room,NaN,1.0,1,14,72,90.00000,Brooklyn
24575,24243859,2014-11-28,Gabriel's Luxury Suite,Brooklyn,Apartment,90.000000,Entire home/apt,NaN,3.0,1,2,250,90.00000,Brooklyn
24897,24691848,2014-12-10,"Brooklyn Museum, Airbed!",Brooklyn,Apartment,95.000000,Shared room,NaN,1.0,1,10,49,98.00000,Brooklyn
25013,24865947,2014-12-15,Cozy ENTIRE APT 1 Bedroom Brooklyn,Brooklyn,Apartment,80.000000,Entire home/apt,NaN,2.0,1,9,70,83.00000,Brooklyn
25679,26440427,2015-01-20,CHIC 2 Bdrm in Classic Brownstone,Brooklyn,Apartment,95.000000,Entire home/apt,NaN,4.0,1,4,145,95.00000,Brooklyn
26456,29098546,2015-03-10,Private bedroom in 3 bdrm apt,Brooklyn,Apartment,80.000000,Private room,NaN,1.0,1,12,48,83.00000,Brooklyn
27089,31463196,2015-04-18,Private room in NY -Close to subway,Brooklyn,Apartment,95.000000,Private room,NaN,1.0,1,4,75,95.00000,Brooklyn
28995,37248069,2015-07-01,Room on Prospect Park,Brooklyn,Apartment,NaN,Private room,NaN,2.0,1,0,75,NaN,Brooklyn

In [68]:
df.loc[(df['Neighbourhood'] == 'Queens') & (df['Zipcode'].isna())]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating,Neighbourhood
5164,1528912,2011-12-22,Nice Private Room Beauty in Queens,Queens,Apartment,95.000000,Private room,NaN,1.0,1,23,59,95.00000,Queens
8356,3114604,2012-07-31,Beautiful room/ Double bed,Queens,Apartment,NaN,Private room,NaN,1.0,1,0,84,NaN,Queens
8576,3250450,2012-08-13,Location Marilda ( only for girls),Queens,Apartment,100.000000,Private room,NaN,1.0,1,1,43,100.00000,Queens
9510,3816303,2012-10-09,Astoria Room Close to Manhattan!!,Queens,Apartment,85.000000,Private room,NaN,1.0,1,82,56,86.00000,Queens
9718,3956850,2012-10-23,NYC Astoria Big warm apartment,Queens,Apartment,100.000000,Entire home/apt,NaN,1.0,1,2,89,100.00000,Queens
9999,4094837,2012-11-08,"BIG, SUNNY Private room n Ridgewood",Queens,Apartment,NaN,Private room,NaN,1.0,1,0,75,NaN,Queens
11111,4658655,2013-01-10,Lovely Private Room in Two Bedroom,Queens,Apartment,NaN,Private room,NaN,1.0,1,0,89,NaN,Queens
12224,5577926,2013-03-22,clean and private room in safe area,Queens,Apartment,100.000000,Private room,NaN,1.0,1,7,51,100.00000,Queens
13036,6291258,2013-05-08,"Private room in Astoria, Queens",Queens,Apartment,90.738659,Private room,NaN,1.0,1,2,65,91.99323,Queens
16201,9687105,2013-10-28,REDESIGNED LUXURY PENTHOUSE LOFT,Queens,Apartment,90.000000,Private room,NaN,1.0,1,32,135,94.00000,Queens
18612,12864757,2014-03-06,private Room/Off Broadway,Queens,Apartment,NaN,Private room,NaN,1.0,1,0,60,NaN,Queens
18973,13743787,2014-03-31,Pretty room studio !,Queens,Apartment,95.000000,Private room,NaN,3.0,1,54,75,95.00000,Queens
19271,14378462,2014-04-16,Spacious Astoria Room in Apartment,Queens,Apartment,NaN,Private room,NaN,1.0,1,0,67,NaN,Queens
20821,17309971,2014-06-26,The Tiffany,Queens,House,100.000000,Private room,NaN,1.0,1,5,49,100.00000,Queens
21094,17777286,2014-07-07,"Snuggly, New Convenient Astoria 1BD",Queens,Apartment,NaN,Shared room,NaN,1.0,1,0,75,NaN,Queens
21154,17889038,2014-07-09,Home away from home!!,Queens,Apartment,NaN,Private room,NaN,1.0,1,0,65,NaN,Queens
23365,22218694,2014-10-06,Zen Garden in the heart of Astoria,Queens,Apartment,100.000000,Entire home/apt,NaN,2.0,1,2,220,100.00000,Queens
24465,24030482,2014-11-22,Room in queens covenient safe locat,Queens,House,NaN,Private room,NaN,1.0,1,0,99,NaN,Queens
24939,24764205,2014-12-12,Great one bedroom fully equipped,Queens,Apartment,NaN,Entire home/apt,NaN,1.0,1,0,150,NaN,Queens
25997,27435723,2015-02-08,1 Bedroom Getaway In LIC GRAND VIEW,Queens,Apartment,100.000000,Entire home/apt,NaN,1.0,1,1,200,100.00000,Queens
28793,36661779,2015-06-24,Spacious Central Astoria Apt!,Queens,Apartment,100.000000,Entire home/apt,NaN,2.0,1,3,69,100.00000,Queens
30127,41425363,2015-08-13,Quaint Colonial with lots of charm,Queens,House,NaN,Entire home/apt,NaN,3.0,1,0,140,NaN,Queens
30183,41619645,2015-08-16,MyPlace2Beach,Queens,House,100.000000,Entire home/apt,NaN,3.0,1,1,200,100.00000,Queens
30462,42952645,2015-08-30,Waterfront Penthouse~5min > TimesSQ,Queens,Apartment,NaN,Private room,NaN,1.0,1,0,99,NaN,Queens

In [69]:
df.loc[(df['Neighbourhood'] == 'Bronx') & (df['Zipcode'].isna())]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating,Neighbourhood
18911,13664245,2014-03-29,"Private, Large room with closet!",Bronx,House,90.0,Private room,NaN,4.0,1,24,48,92.0,Bronx
27217,31826196,2015-04-23,Peace and silence in New York?! Yes,Bronx,Apartment,80.0,Private room,NaN,4.0,1,6,120,80.0,Bronx

In [70]:
df.loc[(df['Neighbourhood'] == 'Staten Island') & (df['Zipcode'].isna())]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating,Neighbourhood
11693,5133304,2013-02-18,Your home in NYC close to Manhattan,Staten Island,House,90.0,Entire home/apt,NaN,2.0,1,24,80,91.0,Staten Island

In [71]:
print(NaN_count)

Host Id                         0
Host Since                      2
Name                            0
Neighbourhood                   0
Property Type                   2
Review Scores Rating (bin)      0
Room Type                       0
Zipcode                       104
Beds                           46
Number of Records               0
Number Of Reviews               0
Price                           0
Review Scores Rating            0
dtype: int64

In [73]:
df.to_csv('airbnb.csv' ,index=False)